.App {
  background-color: rgb(242, 243, 247);  
}
.container{
 margin-left: 30%;
 background-color: rgb(250, 250, 250);
 width: 1000px;

margin-top: 70px;
border-radius: 8%;
}
h1{
 text-align: center;
}
.input-button{

 margin-top: 20px;
 margin-left: 100px;
}
.button{
 
 border-radius: 5px;
 background-color: #fffcfe;
 margin-left: 10px;
}